<template>

   <div class="bg-dark h-screen">
   <div class="flex" style="height: 88vh">
     <!-- side nav -->
     <div class="w-56 bg-black h-full">

     </div>
   </div>
 </div>

</template>

<script>

export default {
  name: 'App',

}
</script>


<style>
.bg-dark{
  background-color: #121212;
}
.bg-black{

}
.h-screen{
  height: 100%;
}
.w-56{
  width: 14rem;
}
.h-full{
  height: 100%;
}

</style>

